*{
    margin: 0;
    padding: 0;
}
* a{
    text-decoration: none;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.img{
    width: 20%
}
.details{
    width: 40%;
}
.price{
    width: 20%;
}
#line{
    text-decoration: line-through;
}
